<style>
.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
    margin-top:50px;
}
.form-signin .form-signin-heading, .form-signin {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: #000;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: rgb(0,0,0);
  border-top:1px solid rgba(0,0,0,0.08);
}
.form-signin-heading {
  color: #000;
  text-align: center;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}
.navbar-right {
	text-align: right;
}
.middle {
	width: 350px;
	margin: auto;
	text-align: center;
}

#origin, #dest, #dept-date, #ret-date, #num-people {
	margin-bottom: 10px;
}

.flight {
	background-color: #e6e6e6;
	border-radius: 5px;
	border-style: solid;
	padding: 10px;
	margin-bottom: 5px;
}

#airline {
	font-size: 20px;
	font-weight: bold;
}

#flightNo {
	font-weight: bold;
	font-size: 18px;
	margin-top: -10px;
}

.leg-number {
	text-decoration: underline;
	font-weight: bold;
}

.person-text {
	font-weight: bold;
	font-size: 20px;
}

#person-submit {
	margin-bottom: 10px;
}

.person {
	border-style: solid;
	border-radius: 8px;
	margin-bottom: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e6e6e6;
}

.checkbox-self {
	width: 250px;
	margin: auto;
}

.btn-secondary {
	color: #383838;
}

#acc-no-input {
	margin-left: 5px;
}

#acc-no-submit {
	margin-left: 15px;
}

#rep-err-msg {
	color: red; margin-left: 60px; margin-top: 20px; margin-bottom: -20px;
}

#rep-suc-msg {
	color: green; margin-left: 60px; margin-top: 20px; margin-bottom: -10px;
}

#res-no {
	margin-top: 1px;
}

#res-no, #res-date, #book-fee, #tot-fare, #rep-id, #acc-no3, #air-id, #flight-no, #leg-no, #flight-date {
	margin-bottom: 6px;
}
</style>